@use "@/shared/lib/styles/mixin.scss" as *;

.heading {
  color: #060606;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -2.5px;
  margin: 0 0 14px;

  @include mobile {
    font-size: 32px;
    letter-spacing: -2px;
  }
}

.heading2 {
  color: #060606;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -1.5px;
  margin: 32px 0 12px;

  &:first-child {
    margin-top: 0;
  }
}

.heading3 {
  margin: 32px 0 12px;
  color: #060606;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}

.text {
  color: #060606;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -1px;
  margin: 0 0 14px 0;

  @include mobile {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.64px;
  }
}

.bold {
  font-weight: 600 !important;
  color: #060606;
}

.list {
  margin: 0 0 14px 0;
  padding-left: 30px;
  color: #060606;
}

.listDisc {
  list-style-type: disc;
}

.listCircle {
  list-style-type: circle;
}

.listDecimal {
  list-style-type: decimal;
}

.liWithNested {
  list-style-type: none;
}

.listItem {
  color: #060606;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -1px;

  @include mobile {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.64px;
  }
}

.listUrl {
  color: #023d65;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-decoration-line: underline;
}

.link {
  color: #023d65;
  text-decoration: underline;
}
